.html,
body {
    background-color: white;
    width: 100%;
    height: 800px;
    margin: 0;
    padding: 0;
}
.conta{
    font-family: "Jomolhari", serif;
    font-size: 52px;
    color: #851f78;
    position: relative;
    top: 60px;
    left: 80px;
    width: 600px;
}
.world{
    width: auto;
    height: 5.6%;
    position: relative;
    top: 35px;
    left: 100px;
}
.app{
    font-family: "Jomolhari",serif;
    font-size: 30px;
    color: #851f78;
    position: relative;
    top:10px;
    left: 100px;
    width: 200px;
}
.enlace{
    font-family: "Jomolhari", serif;
    font-size: 20px;
    color: #851f78;
    position: relative;
    left:102px;
    top:-30px;
}
.enlace:hover{
    color: #ca3a8f;
}
.correo{
    width: auto;
    height: 5.7%;
    position: relative;
    top: -125px;
    left: 700px;  
}
.cor{
    font-family: "Jomolhari",serif;
    font-size: 30px;
    color: #851f78;
    position: relative;
    top:-160px;
    left: 810px;
    
    width: 300px;
}
.co{
    font-family: "Jomolhari", serif;
    font-size: 20px;
    color: #851f78;
    position: relative;
    left:812px;
    top:-180px;
    
    width: 200px;
}
.telefono{
    width: auto;
    height: 5.3%;
    position: relative;
    top: -152px;
    left: 103px;
}

.tel{
    font-family: "Jomolhari",serif;
    font-size: 30px;
    color: #851f78;
    position: relative;
    top:-170px;
    left: 100px;
    width: 200px;
}
.te{
    font-family: "Jomolhari", serif;
    font-size: 20px;
    color: #851f78;
    position: relative;
    left:100px;
    top:-200px;
    width: 200px;
}
.location{
    width: auto;
    height: 5.7%;
    position: relative;
    top: -368px;
    left: 805px;
    
}

.dir{
    font-family: "Jomolhari",serif;
    font-size: 30px;
    color: #851f78;
    position: relative;
    top:-393px;
    left: 810px;
    width: 200px;
    
}
.di{
    font-family: "Jomolhari", serif;
    font-size: 20px;
    color: #851f78;
    position: relative;
    left:812px;
    top:-418px;
    width: 450px;
    
}

.mapa{
    width: auto;
    height: 105.5%;
    position: relative;
    left: 0px;
    top: -360px;
    border-bottom: solid 3px;
    border-color: #ca3a8f;
}
.final3{
    background-color: white;
    border-top: solid 3px;
    border-color: #ca3a8f;
    width: 100%;
    height: 36%;
    position: relative;
    top: -320px ;
    text-align: center;
}
.pie3{
    width: auto;
    height: 100%;  
}